
   
    <div class="container">

        <section>
          <div class="container  mt-5 pt-3 pb-4">
            <div class="row ">
              <div class="col-md-8 m-auto">
                <a type="button" href="{{page}}" class="btn mb-3  mobbut1 d-flex d-md-none">&nbsp; Back</a>
                <h2 class="text-center" style="font-weight: bolder;color:#010483;">Add new Timetable</h2>

                <form action={{link}} method="POST" enctype="multipart/form-data">
                  <label for="" class="mt-3">Semester</label>
                  <input type="text" name="subject" class="form-control" id="name">

                  <label class="mt-3">Select Pdf</label>
                  <input type="file" name="Report" class="form-control-file">

                  <button type="submit" class="btn  secondary-btn btn-block mt-4 btnadd" id="realBtn"
                    onclick="toggle()">Add</button>

                </form>
              
              </div>
            </div>
          </div>
        </section>
      </div>
