
<header>
    <nav>
      <div id="navbar1">
        <div id="logo1" class="reverse">
          <div class="site-logo mr-auto w-20 ml-5">GECB</div>

        </div>
        <div id="links1">
          <li class="cta1"><a href="/" class="nav-link"><span>Back</span></a></li>
        </div>
      </div>

    </nav>
    <!-- Mobile Menu -->
    <div id="mySidenav" class="sidenav">
      <a style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <li class="cta1"><a href="/" class="nav-link"><span>Back</span></a></li>

    </div>
  </header>
  <div class="container m">

    <div class="row m-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="third">Syllabus</h2>
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">KTU B.Tech 2019 scheme  Syllabus for  year 1,2,3,4.</p>
              <a href="/syluser1" class="btn btn-primary">1</a>
               <a href="/syluser1" class="btn btn-primary">2</a>
               <a href="/syluser1" class="btn btn-primary">3</a>
               <a href="/syluser1" class="btn btn-primary">4</a> 
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="third">Timetable</h2>
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">Time Table year 1,2,3,4</p>
              <a href="/timeuser" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="third">Textbook</h2>
              <!-- <h5 class="card-title">Special title treatment</h5> -->
               <p class="card-text">Textbook for Year 1,2,3,4</p>
              <a href="/textuser" class="btn btn-primary">1</a>
               <a href="/textuser" class="btn btn-primary">2</a>
               <a href="/textuser" class="btn btn-primary">3</a>
               <a href="/textuser" class="btn btn-primary">4</a> 
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="third">Attendence</h2>
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">Attendance  for 1,2,3,4 year</p>
              <a href="/attendance-user" class="btn btn-primary">1</a>
               <a href="/attendance-user" class="btn btn-primary">2</a>
               <a href="/attendance-user" class="btn btn-primary">3</a>
               <a href="/attendance-user" class="btn btn-primary">4</a> 
            </div>
          </div>
        </div>
      </div>
    </div>