<div class="container" id="departments">
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Assign Users</h2>
          </div>
		     <li class="cta2"><a href="/mark" class="nav-link"><span>Back</span></a></li>
        </div>
      </div>
<div class="row7">
   <div class="col-md-4 m-auto">
      <div class="container">
         <div class="card mt-5">
            <div class="card-body py-md-4">
               <form action="/signup" method="post">
                  <div class="form-group">
                     <input type="text" name="Username" class="form-control" id="name" placeholder="Username">
                  </div>
                  <div class="form-group">
                     <input type="password" name="Password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <div class="d-flex flex-row align-items-center justify-content-between">
                     <button class="btn btn-primary btn11">Submit</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>